<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Take a Break!</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1>Take a Break!</h1>
  <a href="/breaktime/personal"><button class="button">Personal</button></a>
  <a href="/breaktime/meditate"><button class="button">Meditate</button></a>
  <a href="/breaktime/move"><button class="button">Get Moving</button></a>
  <a href="/breaktime/stretch"><button class="button">Stretch</button></a>
</body>
</html>
