<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meditate</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1>Relax, Meditate</h1>
  <ul>
    <li><a href="http://www.mindbodygreen.com/0-17642/3-centering-meditations-you-can-do-in-5-minutes-or-less.html">Centering</a></li>
    <li><a href="https://www.pinterest.com/pin/528328600007417897/">Breathing Exercises</a></li>
    <li><a href="https://www.youtube.com/watch?v=wGFog-OuFDM">Mindfulness</a></li>
    <li><a href="https://www.youtube.com/watch?v=moBLrox7bwk">10 minute meditation</a></li>
    <li><a href="http://yogabycandace.com/blog/guided-meditation-for-stress">5 minute meditation</a></li>
  
  </ul>



<!-- <h2>Add your favorite Meditation breaks</h2>
<form action="/breaktime/meditate" method = "post">
  <label for="description">Description</label><br>
  <input type="text" id="title" name="title" value=''> <br>
  <label for="URL">URL</label><br>
  <input type="text" id="URL" name="URL" value= ''> <br>
  <input type="submit" value= "Add" >
</form> -->
</body>
</html>
