<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get Moving</title>
</head>
<body>
  <h1>Get Moving</h1>
  <p>It's always great to take a walk and get some fresh air on a fair weather day. Or, check out some of these moves...</p>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=SHRHCJcYtvs">5 minute flat abs</a></li>
    <li><a href="https://www.youtube.com/watch?v=o6KGuxtYTUo">5 minute abs</a></li>
    <li><a href="https://www.youtube.com/watch?v=-kQpTMkQo3Y">5 minute fat blasting</a></li>
    <li><a href="https://www.youtube.com/watch?v=WfbD4njJ0Io">5 minute cardio</a></li>
    <li><a href="http://www.popsugar.com/fitness/Printable--Equipment-Cardio-Workout-35589694">Equipment-less Cardio</a></li>
  </ul>

  <h2>Add your favorite workout</h2>
  <form action="/move" method = "post">
    <label for="description">Description</label><br>
    <input type="text" id="title" name="title" value=''> <br>
    <label for="URL">URL</label><br>
    <input type="text" id="URL" name="URL" value= ''> <br>
    <input type="submit" value= "Add" >
  </form>
</body>
</html>
