<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stretch</title>
</head>
<body>
  <h1>Stretch / Yoga</h1>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=khDyWeZGb4w">5 Minute Flexibility</a></li>
    <li><a href="https://www.youtube.com/watch?v=NR8qT5NrfWA">Stength Yoga- 5 minute flexibility</a></li>
    <li><a href="https://www.youtube.com/watch?v=Lh4vQZWTx10">Build Strength Evenly</a></li>
    <li><a href="http://www.sparkpeople.com/resource/videos-detail.asp?video=92#_a5y_p=2986974">4 minute Lower Body stretch Routine</a></li>
    <li><a href="https://www.youtube.com/watch?v=jOfshreyu4w">Quick Stress Fix</a></li>
  </ul>

  <h2>Add your favorite stretches</h2>
  <form action="/stretch" method = "post">
    <label for="description">Description</label><br>
    <input type="text" id="title" name="title" value=''> <br>
    <label for="URL">URL</label><br>
    <input type="text" id="URL" name="URL" value= ''> <br>
    <input type="submit" value= "Add" >
  </form>
</body>
</html>
